@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(15, 16, 53);
  --background-primary-rgb: rgb(220, 242, 241);
  --background-secondary-rgb: rgb(127, 199, 217);
  --background-tersier-rgb: rgb(54, 84, 134);
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-primary-rgb));
}
